<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Avalible Bus</title>
</head>

<body>
	<div align="center">
	<h1>Avalible Bus</h1>
	<table border="1px">
		<tr>
			<th>BusName</th>
			<th>Departure Time</th>
			<th>Arival Time</th>
			<th>Price</th>
			<th>Book</th>
		</tr>
		<tr>
			<td>BusName</td>
			<td>Departure Time</td>
			<td>Arival Time</td>
			<td>Price</td>
			<td><button>Book</button></td>
		</tr>
	</table>		
	</div>
</body>

</html>